/* ###########################
# Entropy View
########################### */

.entropy {
	z-index: 99999;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
}

.entropy .wrapper {
	pointer-events: all;
	text-align: center;
	padding-top: 35%;
	font-size: 10px;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
}

.entropy .wrapper .content {
	max-width: 30em;
	margin: 0 auto;
}

.entropy .content h1 {
	font-size: 1.6em;
}
.entropy .content p {
	font-style: italic;
	max-width: 20em;
	margin: 0 auto;
	margin-bottom: 3em;
}

/* ###########################
# Modal
########################### */


.modal-dialog {
	margin: 0;
	width: 100%;
}
.modal-dialog .modal-content {
	border-radius: 0;
	min-height: 100%;
	border: 0 none;
}

.modal-dialog .modal-content p {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/* ###########################
# Address list
########################### */

.appTitle {
	text-align: center;
	font-size: 2em;
}

.addresses {}
.addresses .address {
	padding: 0;
}
.addresses .address .actions,
.addresses .address .info {
	padding: 0.6em;
	display: inline-block;
}
.addresses .address .actions {
	width: 3em;
	background-color: red;
	color: white;
	box-shadow: inset -5px 0px 10px -6px black;
}
.addresses .title {
	font-weight: bold;
}