<html>
  <head>
    <script src="http://code.jquery.com/jquery-2.1.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-touch.js"></script>
    <script src="/js/bitcoinjs-min.js"></script>
    <script src="/src/app.coffee"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/multiparty.css">
  </head>
  <body>

    <div ng-app="multiparty">


      <script type="text/ng-template" id="/create_new.html">
        <div class="modal-header">New multiparty : {{address.name}}</div>
        <div class="modal-body">
          <form class="form">
            <div class="form-group">
              <input type="text" placeholder="Name" ng-model="address.name">
            </div>
            <div class="form-group">
              <p ng-model="address.keys.public">{{address.keys.public}}</p>
              <p ng-model="address.keys.private">{{address.keys.private}}</p>
              <button ng-click="gen()" type="button" class="btn btn-primary">Generate</button>
            </div>
            <div class="form-group">
              <label for="">m</label>/<label for="">n</label>
              <input type="number" value="1" ng-model="address.m">/<input type="number" value="1" ng-model="address.n">
            </div>
          </form>
        </div>
        <div class="modal-body">
          <button ng-click="cancel()" type="button" class="btn btn-primary">Cancel</button>
          <button ng-click="ok()" type="button" class="btn btn-primary">Ok</button>
        </div>
      </script>

      <script type="text/ng-template" id="/address.html">
        <div class="modal-header"><button ng-click="back()" type="button" class="btn btn-primary">Back</button> {{address.name}}</div>
        <div class="modal-body">
          <h1>{{address.name}}</h1>
          <p>private: {{address.keys.private}}</p>
          <p>public: {{address.keys.public}}</p>
          <p>{{address.m}}/{{address.n}}</p>
        </div>
        <div class="modal-footer">
          
        </div>
      </script>





      <div>


        <div class="entropy" ng-controller="EntropyCtrl" ng-hide="close" ng-mousemove="addEntropy($event)">
          <div class="content">
            <h1>Generate Entropy</h1>
            <progressbar max="max" value="value" type="{{type}}">
                <span>{{value}}%</span>
            </progressbar>
            <p>Move your mouse around the screen to generate entropy, for your security.</p>
            <p><button ng-show="done" type="button" class="btn btn-primary" ng-click="close = true">Done</button></p>
          </div>
        </div>

        <h1 class="appTitle">multiparty</h1>

        <ul class="addresses list-group" ng-controller="AddressesCtrl">

            <li class="address list-group-item" ng-repeat="address in addresses"  ng-swipe-left="showActions = false" ng-swipe-right="showActions = true" >
              <div class="actions" ng-show="showActions">
                <span class="glyphicon glyphicon-remove" ng-click="remove(address)"></span>
              </div>
              <div class="info" ng-controller="AddressCtrl" ng-click="show(address); showActions = false" >
                <span class="title">{{address.name}}</span>
                <span class="badge alert-success">{{address.txs || 0}}</span>
                <span class="badge alert-success">{{address.m}}/{{address.n}}</span>
              </div>                  
            </li>

            <li class="list-group-item" class="create" ng-controller="CreateNewCtrl">
                <button ng-click="open()" type="button" class="btn btn-primary">Create</button>
            </li>
        </ul>


      </div>
    </div>
    
  </body>
</html>